# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
docopt-0.6.2/
docopt-0.6.2.tar.gz
.cff_to_bibtex.py.swp


# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
allennlp-env/

# Test logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.mypy_cache/

# Ignore all site-packages
**/site-packages/

# Ignore VSCode settings
.vscode/

# Ignore other unnecessary files and directories
*.log
*.tmp

/work